body{
	
}

.site-title{
	color: black;
	font-family: roboto;
	font-size: 30px;
	text-align: left;
	background-color: white;
	padding: 20px;
	
}

.full_container{
	background-color: #EDEBEA;
	padding: 20px;
}

.textarea_container{
	background-color: white;
	padding: 20px;
}

#textarea{
	background-color: white;
}

