
#Header {

font-size:30px;
overflow:hidden;
height: 200px;

background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
position: fixed;
left:0px;
top:100px;
width:100%;

}

#textarea{

  position: absolute;
  top:200px;

text-align: left;
  width:400px;
  left: 40px;

}

#navbar {

  position:absolute;
  top:0px;
  left:0px;
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: #004080;
  list-style: none;
  color: green;
  padding-top: 20px;

}

#navbar li {
  display: inline;
  font-family:serif;
  padding-right: 200px;

  color: white;
}



#navbar li a{
font-size: 20px;
text-decoration: none;
  color: white;
  position: absolute;
  top:20px;

}

#navbar li a:hover{

background-color: pink;
}

#Header ul{


  color:black;
  list-style: none;

  line-height: 50px;
  margin-bottom: 5px;
  letter-spacing: 5px;
}
body{


}
